@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgb(214, 186, 74) 35%,
    rgb(39, 123, 139) 100%
  );
}

.gradient1 {
  background: linear-gradient(
    90deg,
    rgb(214, 186, 74) 35%,
    rgb(31, 33, 34) 100%
  );
}
nav {
  border-bottom: black 1px solid;
}

.page-header {
  margin: 6rem 0 3rem;
  padding: 2rem 0;
  font-size: 1.25rem;
}

.sponsors {
  margin: 3rem 0;
}

.feature {
  padding: 2rem 0;
}

.feature ul {
  padding-left: 1rem;
  list-style: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  margin-bottom: 0.8rem;
}

.about-us {
  text-align: center;
  font-size: 1.3rem;
  padding: 3rem 5rem;
}

.footer {
  text-align: center;
  padding: 2rem 0 1rem;
}

.footer i {
  font-size: 32px;
  padding: 10px 5px;
}

.footer p {
  margin: 10px 0;
  font-weight: bolder;
}

.contact {
  text-align: center;
  font-size: 1.4rem;
  margin: 3rem 5rem;
}

.contact h2 {
  margin-bottom: 20px;
}
.contact input,
textarea {
  margin-bottom: 10px;
  width: 75%;
  padding: 10px;
}

input[type="submit"] {
  width: 20%;
}

/*  */
.sponsors h2 {
  padding-top: 3.2rem;
  font-size: 2.5rem;
  font-weight: bolder;
}
.events-main {
  margin: 6rem 0 0;
  background-image: url(./img/ddd1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 51vh;
}

.register {
  text-align: center;
  padding: 5rem 0;
  font-size: 1.25rem;
}

@media only screen and (max-width: 600px) {
  .page-header img {
    width: 75%;
  }
  .about-us {
    padding: 3rem 1.5rem;
  }
  .contact {
    margin: 3rem 0.8rem;
  }
  /*  */
  /* .events-main {
    background-size: cover;
  } */
}
